html,
body {
  padding: 0;
  margin: 0;
  /* This ensures the entire site uses the Serif font from the sample */
  font-family: 'Times New Roman', Times, serif;
  color: #111;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}